################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BNC_PX_d1302944c23c1470ad1770f33e437fcc.csv
