input {
    background: rgba(0, 0, 0, 0.2) !important;
    border: none !important;
    color: white !important;
    padding-left: 20px;
    border-radius: 5px !important;
}

ul.container {
    padding: 0;
    cursor: pointer;
    user-select: none;
}

.dropdown-item {
    color: white;
    width: 100%;
}